@model List<Doctor>
<h1>Listado de Doctores</h1>
<table class="table table-striped table-bordered">
    <tr>
        <th>Id Doctor</th>
        <th>Apellido</th>
        <th>Especialidad</th>
        <th>Salario</th>
        <th>Id Hospital</th>
        <th>ACCIONES</th>
    </tr>
    @foreach (Doctor doctor in Model)
    {
        <tr>
            <td>@doctor.IdDoctor</td>
            <td>@doctor.Apellido</td>
            <td>@doctor.Especialidad</td>
            <td>@doctor.Salario</td>
            <td>@doctor.IdHospital</td>
            <td>
                <a asp-controller="Doctores" asp-action="Delete" asp-route-iddoctor="@doctor.IdDoctor"
                class="btn btn-danger">Eliminar</a>
                <a asp-controller="Doctores" asp-action="Update" asp-route-iddoctor="@doctor.IdDoctor"
                   class="btn btn-warning">Update</a>
            </td>
            
        </tr>
    }
</table>